<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>GuaJie</key>
		<string>四爻变，以变卦之两不变爻爻辞断，但以下爻为主。n屯卦(水雷屯)第五爻:n原文:n九五。屯其膏，小贞洁，大贞凶。象曰：屯其膏，施未光也。n白话文:n九五。屯积肥肉。筮遇此爻，问小事则积，问大事则凶。n《象辞》说：“屯积肥肉”，意思是施舍不广。n解卦：n平：得此爻者，谋事切勿急躁，小事可成，大事无望，甚至会招来凶祸。n时运：无人提拔，暂时无望。n财运：小买卖尚可获利，大买卖则凶。n家宅：聚财伤和气。n身体：处病可治，久病则危。nn屯卦(水雷屯)第一爻：n原文：n初九。盘桓，志行正也；以贵下贱，大得民也。n白话文：n初九。徘徊难进。这是有利于居住的卜问。巫遇此爻，有利于建国封侯。n《象辞》说：虽然徘徊难进，但志行贞正。初九居六二阴爻之下，象征以尊贵而俯顺于低贱，因而大得民心。n解卦：n平：得此爻者，安分守己则无忧，躁动者不利。做官的暂时未受到重用，坚守正道，好运可期。女命则为良妇而兴家。n时运：欲进不进，坚守正道。n财运：不利经商，可任用正人君子。n家宅：安居于贵宅；婚嫁吉祥。n身体：健康无虞。nn内卦变化：乾变震n外卦变化：乾变坎nn焦氏易林：n乾之屯。阳孤亢极，多所恨惑。车倾盖亡，身常忧惶。乃得其愿，雌雄相从。</string>
		<key>GuaMing</key>
		<dict>
			<key>TianGan</key>
			<string>乾卦(乾为天)</string>
			<key>TianGanXiang</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>DiZhi</key>
			<string>屯卦(水雷屯)</string>
			<key>DiZhiXiang</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<key>GuaXiang</key>
		<array>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</array>
	</dict>
	<dict>
		<key>GuaJie</key>
		<string>一爻变，以动爻之辞断之。n乾卦(乾为天)第六爻:n原文:n上九。亢龙有悔。n象曰：亢龙有悔，盈不可久也。n白话文：n上九升腾到极限的龙会有灾祸之困。n《象辞》说：升腾到极限的龙会有灾祸之困，这是警戒人们崇高，盈满是不可能长久保持的。nn解卦：n凶：得此爻者，有过刚取凶之祸，五十以后者不寿。做官的会退职，或遭贬。女命逢之，其性必悍，难成为贤内助。n时运：由满招损，退而自省。n财运：过盈则必有亏。n家宅：婚嫁不利。n身体：命在旦夕。nn外卦变化：乾变兑nn焦氏易林：n乾之夬。孤竹之墟，失妇亡夫。伤于蒺藜，不见少妻，东郭棠姜，武氏已亡。nn上卦：乾金(用，变卦兑金)，下卦：乾金(体)</string>
		<key>GuaMing</key>
		<dict>
			<key>TianGan</key>
			<string>乾卦(乾为天)</string>
			<key>TianGanXiang</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>DiZhi</key>
			<string>夬卦(泽天夬)</string>
			<key>DiZhiXiang</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
		<key>GuaXiang</key>
		<array>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</array>
	</dict>
</array>
</plist>
