<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>GuaJie</key>
		<string>四爻变，以变卦之两不变爻爻辞断，但以下爻为主。n屯卦(水雷屯)第五爻:n原文:n九五。屯其膏，小贞洁，大贞凶。象曰：屯其膏，施未光也。n白话文:n九五。屯积肥肉。筮遇此爻，问小事则积，问大事则凶。n《象辞》说：“屯积肥肉”，意思是施舍不广。n解卦：n平：得此爻者，谋事切勿急躁，小事可成，大事无望，甚至会招来凶祸。n时运：无人提拔，暂时无望。n财运：小买卖尚可获利，大买卖则凶。n家宅：聚财伤和气。n身体：处病可治，久病则危。nn屯卦(水雷屯)第一爻：n原文：n初九。盘桓，志行正也；以贵下贱，大得民也。n白话文：n初九。徘徊难进。这是有利于居住的卜问。巫遇此爻，有利于建国封侯。n《象辞》说：虽然徘徊难进，但志行贞正。初九居六二阴爻之下，象征以尊贵而俯顺于低贱，因而大得民心。n解卦：n平：得此爻者，安分守己则无忧，躁动者不利。做官的暂时未受到重用，坚守正道，好运可期。女命则为良妇而兴家。n时运：欲进不进，坚守正道。n财运：不利经商，可任用正人君子。n家宅：安居于贵宅；婚嫁吉祥。n身体：健康无虞。nn内卦变化：乾变震n外卦变化：乾变坎nn焦氏易林：n乾之屯。阳孤亢极，多所恨惑。车倾盖亡，身常忧惶。乃得其愿，雌雄相从。</string>
		<key>GuaMing</key>
		<dict>
			<key>TianGan</key>
			<string>乾卦(乾为天)</string>
			<key>TianGanXiang</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>DiZhi</key>
			<string>屯卦(水雷屯)</string>
			<key>DiZhiXiang</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<key>GuaXiang</key>
		<array>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</array>
	</dict>
	<dict>
		<key>GuaJie</key>
		<string>一爻变，以动爻之辞断之。n乾卦(乾为天)第六爻:n原文:n上九。亢龙有悔。n象曰：亢龙有悔，盈不可久也。n白话文：n上九升腾到极限的龙会有灾祸之困。n《象辞》说：升腾到极限的龙会有灾祸之困，这是警戒人们崇高，盈满是不可能长久保持的。nn解卦：n凶：得此爻者，有过刚取凶之祸，五十以后者不寿。做官的会退职，或遭贬。女命逢之，其性必悍，难成为贤内助。n时运：由满招损，退而自省。n财运：过盈则必有亏。n家宅：婚嫁不利。n身体：命在旦夕。nn外卦变化：乾变兑nn焦氏易林：n乾之夬。孤竹之墟，失妇亡夫。伤于蒺藜，不见少妻，东郭棠姜，武氏已亡。nn上卦：乾金(用，变卦兑金)，下卦：乾金(体)</string>
		<key>GuaMing</key>
		<dict>
			<key>TianGan</key>
			<string>乾卦(乾为天)</string>
			<key>TianGanXiang</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>DiZhi</key>
			<string>夬卦(泽天夬)</string>
			<key>DiZhiXiang</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
		<key>GuaXiang</key>
		<array>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</array>
	</dict>
	<dict>
		<key>GuaJie</key>
		<string>三爻变，以本卦与变卦卦辞断；本卦为贞(体)，变卦为悔(用)。n本卦：乾卦(乾为天)n原文：乾。元，亨，利，贞。n象曰：天行健，君子以自强不息。n白话文：乾卦，大吉大利，吉利的贞卜。n《象辞》说：天道刚健，运行不已。君子观此卦象，从而以天为法，自强不息。n《断易天机》解：n乾象征天，六阳爻构成乾卦，为《易经》六十四卦之首。纯阳刚建，其性刚强，其行劲健，大通而至正，兆示大通而有利，但须行正道，方可永远亨通。n北宋易学家邵雍解：n刚健旺盛，发育之功；完事顺利，谨防太强。n得此卦者，天行刚健，自强不息，名利双收之象，宜把握机会，争取成果。女人得此卦则有过于刚直之嫌。n台湾国学大师傅佩荣解：n时运：临事刚健，自强不息。n财运：施比受有福，不利买而利卖。n家宅：积善有余庆；女子过刚宜慎重。n身体：保健有恒。n传统解卦：n这个卦是同卦(下乾上乾)相叠。象征天，喻龙(德才得君子)，又象征纯粹的阳和健，表面兴盛强健。乾卦是根据万物变通的道理，以“元，亨，利，贞”为卦辞，表示吉祥如意，教导人遵守天道的德行。n大象：天行刚健，自强不息。n运势：飞龙在天，名利双收之象，宜把握机会，争取成果。n事业：大吉大利，万事如意，心想事成，自有天佑，春风得意，事业如日中天。但阳气已达顶点，盛极必衰，务须提高警惕，小心谨慎。力戒骄傲，冷静处世，心境平和，如是则能充分发挥才智，保证事业成功。n经商：十分顺利，有发展向上的大好机会。但切勿操之过急，宜冷静分析形势，把握时机，坚持商业道德，冷静对待中途出现的困难，定会有满意的结果。n求名：潜在能力尚未充分发挥，只要进一步努力，克服骄傲自满情绪，进业修德，以渊博学识和高尚品德，成君子之名。n内卦变化：乾变坎。n外卦变化：乾变兑nn焦氏易林：n乾之困。噂噂所言，莫如我垣。欢喜坚固，可以长安。</string>
		<key>GuaMing</key>
		<dict>
			<key>TianGan</key>
			<string>乾卦(乾为天)</string>
			<key>TianGanXiang</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>DiZhi</key>
			<string>困卦(泽水困)</string>
			<key>DiZhiXiang</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
		</dict>
		<key>GuaXiang</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</array>
	</dict>
	<dict>
		<key>GuaJie</key>
		<string>三爻变，以本卦与变卦卦辞断；本卦为贞(体)，变卦为悔(用)。n本卦：乾卦(乾为天)n原文：乾。元，亨，利，贞。n象曰：天行健，君子以自强不息。n白话文：乾卦，大吉大利，吉利的贞卜。n《象辞》说：天道刚健，运行不已。君子观此卦象，从而以天为法，自强不息。n《断易天机》解：n乾象征天，六阳爻构成乾卦，为《易经》六十四卦之首。纯阳刚建，其性刚强，其行劲健，大通而至正，兆示大通而有利，但须行正道，方可永远亨通。n北宋易学家邵雍解：n刚健旺盛，发育之功；完事顺利，谨防太强。n得此卦者，天行刚健，自强不息，名利双收之象，宜把握机会，争取成果。女人得此卦则有过于刚直之嫌。n台湾国学大师傅佩荣解：n时运：临事刚健，自强不息。n财运：施比受有福，不利买而利卖。n家宅：积善有余庆；女子过刚宜慎重。n身体：保健有恒。n传统解卦：n这个卦是同卦(下乾上乾)相叠。象征天，喻龙(德才得君子)，又象征纯粹的阳和健，表面兴盛强健。乾卦是根据万物变通的道理，以“元，亨，利，贞”为卦辞，表示吉祥如意，教导人遵守天道的德行。n大象：天行刚健，自强不息。n运势：飞龙在天，名利双收之象，宜把握机会，争取成果。n事业：大吉大利，万事如意，心想事成，自有天佑，春风得意，事业如日中天。但阳气已达顶点，盛极必衰，务须提高警惕，小心谨慎。力戒骄傲，冷静处世，心境平和，如是则能充分发挥才智，保证事业成功。n经商：十分顺利，有发展向上的大好机会。但切勿操之过急，宜冷静分析形势，把握时机，坚持商业道德，冷静对待中途出现的困难，定会有满意的结果。n求名：潜在能力尚未充分发挥，只要进一步努力，克服骄傲自满情绪，进业修德，以渊博学识和高尚品德，成君子之名。n内卦变化：乾变坎。n外卦变化：乾变兑nn焦氏易林：n乾之困。噂噂所言，莫如我垣。欢喜坚固，可以长安。</string>
		<key>GuaMing</key>
		<dict>
			<key>TianGan</key>
			<string>乾卦(乾为天)</string>
			<key>TianGanXiang</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>DiZhi</key>
			<string>恒卦(雷风恒)</string>
			<key>DiZhiXiang</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
		</dict>
		<key>GuaXiang</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</array>
	</dict>
	<dict>
		<key>GuaJie</key>
		<string>四爻变，以变卦之两不变爻爻辞断，但以下爻为主n坎卦(坎为水)第5爻：n原文：n九五。坎不盈，只既平，无咎。n象曰：坎不盈，中未大也。n白话文：n九五：坎坑虽没有填满，小山头却被锄平。没有灾难。n《象辞》说：小山头虽锄平，但坎坑尚未填满，说明道路不平，未成坦途。n解卦：n北宋易学家邵雍解n平：得此爻者，平淡无常，宜养精蓄锐。做官的没有危难，职位无忧。n台湾国学大儒傅佩荣解n时运：不可自大，功名有限。n财运：不谈近利，考虑长远。n家宅：景观可喜；门当户对。n身体：平心静气。n坎卦(坎为水)第2爻：n原文：n九二。坎有险，求小得。n象曰：求小得，未出中也。n白话文：n九二：坑坑坎坎，道有险阻。敢于行险道，或小有收获。n《象辞》说：敢于行险道，或小有收获，因为九二之爻居下卦的中位，像人尚未偏离正道。n解卦：n北宋易学家邵雍解n平：得此爻者，有小成就，女命或为侍妾，凶者防险难或生心腹血气之疾。做官的会有小的成就，大事不成。n台湾国学大儒傅佩荣解n时运：小试有利，不可图大。n财运：小心经营，可有小利。n家宅：防止河岸。n身体：医治有效，但难全好。n内卦变化：乾变坎n外卦变化：乾变坎n焦氏易林：n乾之坎。黄鸟采绿，既嫁不答。念我父兄，思复邦国。</string>
		<key>GuaMing</key>
		<dict>
			<key>TianGan</key>
			<string>乾卦(乾为天)</string>
			<key>TianGanXiang</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>DiZhi</key>
			<string>坎卦(坎为水)</string>
			<key>DiZhiXiang</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
		</dict>
		<key>GuaXiang</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</array>
	</dict>
	<dict>
		<key>GuaJie</key>
		<string>二爻变，以两动爻之辞断，但以上爻为主：n乾卦(乾为天)第5爻：n原文：n九五。飞龙在天，利见大人。n象曰：飞龙在天，大人造也。n白话文：n九五：龙飞腾在空中，有利于会见贵族王公。n《象辞》说：龙飞腾在空中，意味着君子大有所为。n解卦：n北宋易学家邵雍解n吉：得此爻者，会遇到贵人，谋遂志得。做官的会飞黄腾达。女命则兼男权，难免孤独。n台湾国学大儒傅佩荣解n时运：直上云霄。n财运：五谷之类的贸易，物价飞升，有官府支持。n家宅：富贵之家。n身体：蒙天所召，不吉。n乾卦(乾为天)第1爻：n原文：n初九。潜龙勿用。n象曰：潜龙勿用，阳在下也。n白话文：n初九：潜藏的龙，无法施展。n《象辞》说：潜藏的龙，无法施展，因为初九阳爻处在一卦的下位，所以压抑难伸。n解卦：n北宋易学家邵雍解n平：得此爻者，宜沉稳待机，若一动作即生灾疾，谋事不利，谨防小人。做官的会有阻力。经商的会有阻滞。女命则兴家业，孕生子。n台湾国学大儒傅佩荣解n时运：培养实力，等待机会。n财运：宜守不宜攻。n家宅：娶妻小心。n身体：保养为宜。n内卦变化：乾变巽n外卦变化：乾变离n焦氏易林：n乾之鼎。弱足钺跟，不利出门。市贾不利，折亡为患。</string>
		<key>GuaMing</key>
		<dict>
			<key>TianGan</key>
			<string>乾卦(乾为天)</string>
			<key>TianGanXiang</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>DiZhi</key>
			<string>鼎卦(火风鼎)</string>
			<key>DiZhiXiang</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
		</dict>
		<key>GuaXiang</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</array>
	</dict>
	<dict>
		<key>GuaJie</key>
		<string>六爻变，以变卦之卦辞断，乾坤两卦则以「用」辞断n内卦变化：坤变乾n外卦变化：乾变坤n焦氏易林：n否之泰。行不如止，直不如曲，进不如退，可以安吉。</string>
		<key>GuaMing</key>
		<dict>
			<key>TianGan</key>
			<string>否卦(天地否)</string>
			<key>TianGanXiang</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>DiZhi</key>
			<string>泰卦(地天泰)</string>
			<key>DiZhiXiang</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
		<key>GuaXiang</key>
		<array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</array>
	</dict>
	<dict>
		<key>GuaJie</key>
		<string>五爻变，以变卦之不变爻辞断。n比卦(水地比)第5爻：n原文：n九五。显比，王用三驱，失前禽。邑人不诫，吉。n象曰：显比之吉，位正中也。舍逆取顺，失前禽也。邑人不诫，上使中也。n白话文：n解卦：n北宋易学家邵雍解n吉：得此爻者，会先逆后顺，谋事有成，无往不利。做官的会有大的荣耀，读书人会考的佳绩。n台湾国学大儒傅佩荣解n时运：善待别人，后仍有吉。n财运：不贪小利，后有盈余。n家宅：和顺为宜。n身体：服药生效，不必过虑。n内卦变化：乾变坤n外卦变化：乾变坎n焦氏易林：n乾之比。中夜犬吠，盗在墙外。神明佑助，消散皆去。</string>
		<key>GuaMing</key>
		<dict>
			<key>TianGan</key>
			<string>乾卦(乾为天)</string>
			<key>TianGanXiang</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>DiZhi</key>
			<string>比卦(水地比)</string>
			<key>DiZhiXiang</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<key>GuaXiang</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</array>
	</dict>
	<dict>
		<key>GuaJie</key>
		<string>三爻变，以本卦与变卦卦辞断；本卦为贞（体），变卦为悔（用）n本卦：小畜卦(风天小畜)n原文：小畜。亨。密云不雨，自我西郊。n象曰：风行天上，小畜。君子以懿文德。n白话文：n解：n之卦：鼎卦(火风鼎)n原文：鼎。元吉，亨。n象曰：木上有火，鼎。君子以正位凝命。n白话文：n解：n内卦变化：乾变巽n外卦变化：巽变离n焦氏易林：n小畜之鼎。下田稷黍，芳华生齿。大于集降，纷涝满甕。</string>
		<key>GuaMing</key>
		<dict>
			<key>TianGan</key>
			<string>小畜卦(风天小畜)</string>
			<key>TianGanXiang</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>DiZhi</key>
			<string>鼎卦(火风鼎)</string>
			<key>DiZhiXiang</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
		</dict>
		<key>GuaXiang</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
		</array>
	</dict>
	<dict>
		<key>GuaJie</key>
		<string>三爻变，以本卦与变卦卦辞断；本卦为贞（体），变卦为悔（用）n本卦：乾卦(乾为天)n原文：乾。元，亨，利，贞。n象曰：天行健，君子以自强不息。n白话文：乾卦：大吉大利，吉利的贞卜。n《象辞》说：天道刚健，运行不已。君子观此卦象，从而以天为法，自强不息。n解：《断易天机》解n乾象征天，六阳爻构成乾卦，为《易经》六十四卦之首。纯阳刚建，其性刚强，其行劲健，大通而至正，兆示大通而有利，但须行正道，方可永远亨通。n北宋易学家邵雍解n刚健旺盛，发育之功；完事顺利，谨防太强。
得此卦者，天行刚健，自强不息，名利双收之象，宜把握机会，争取成果。女人得此卦则有过于刚直之嫌。n台湾国学大儒傅佩荣解n时运：临事刚健，自强不息。n财运：施比受有福，不利买而利卖。n家宅：积善有余庆；女子过刚宜慎重。n身体：保健有恒。n传统解卦n这个卦是同卦（下乾上乾）相叠。象征天，喻龙（德才的君子），又象征纯粹的阳和健，表明兴盛强健。乾卦是根据万物变通的道理，以“元、亨、利、贞”为卦辞，表示吉祥如意，教导人遵守天道的德行。n大象：天行刚健，自强不息。n运势：飞龙在天，名利双收之象，宜把握机会，争取成果。n事业：大吉大利，万事如意，心想事成，自有天佑，春风得意，事业如日中天。但阳气已达顶点，盛极必衰，务须提高警惕，小心谨慎。力戒骄傲，冷静处世，心境平和，如是则能充分发挥才智，保证事业成功。n经商：十分顺利，有发展向上的大好机会。但切勿操之过急，宜冷静分析形势，把握时机，坚持商业道德，冷静对待中途出现的困难，定会有满意的结果。n求名：潜在能力尚未充分发挥，只要进一步努力，克服骄傲自满情绪，进业修德，以渊博学识和高尚品质，成君子之名。n婚恋：阳盛阴衰，但刚柔可相济，形成美满结果。女性温柔者更佳。n决策：可成就大的事业。坚持此卦的刚健、正直、公允的实质，修养德行，积累知识，坚定信念，自强不息，必能克服困难，消除灾难。n之卦：未济卦(火水未济)n原文：未济。亨，小狐汔济，濡其尾，无攸利。n象曰：火在水上，未济。君子以慎辨物居方。n白话文：n解：《断易天机》解n未济卦离上坎下，为离宫三世卦。未济就是未完成，此卦爻位不正，形象上极端恶劣，但变化在酝酿之中，未来充满希望。n北宋易学家邵雍解n不能资助，待时而动；由小而大，不可躁进。
得此卦者，运势不通，诸事不能如愿，宜由小及大，稳步进取，要耐心去突破难关，则终可成功。n台湾国学大儒傅佩荣解n时运：运势颠倒，务必谨慎。n财运：诸事不顺，步步为营。n家宅：改变方向；门户不合。n身体：血脉不顺，用药谨慎。n传统解卦n这个卦是异卦（下坎上离）相叠。离为火，坎为水。火上水下，火势压倒水势，救火大功未成，故称未济。《周易》以乾坤二卦为始，以既济、未济二卦为终，充分反映了变化发展的思想。n大象：水性下注，火势向上，水火不交，阴阳不得正位，未能完成和未能成功之意。n运势：运气欠佳，但必须耐心突破难关，终可成功，有初凶后吉之象。n事业：处于最后的关键时刻，成功与否就在眼前，因此务必不可掉以轻心。自我节制非常重要，坚持到底，必要时也可能慎重地进行适度冒险，以成就事业。n经商：市场处于大变动的前夕，前景如何尚不明显。这是最为艰苦的时期，头脑必须冷静，切勿冒险，不可行动过度，适度节制，观察动向，决定行动。n求名：长期的努力和追求即会有结果。在成败的关键时刻应泰然自若，听天由命，顺其自然。n婚恋：已经渡过了困难阶段，再慎重地加把劲，会有美满的结果。n决策：此卦的意思是“未完成”，表明前途无量，有充分发展的可能。因此，必须坚持中正的原则，以明智、中庸、诚信、谦逊的态度，成就事业。面对人生，唯有勤勤恳恳，极力尽人事，听天命，不必过分计较成功与否。n内卦变化：乾变坎n外卦变化：乾变离n焦氏易林：n乾之未济。长面大鼻，来解己忧。遗吾福子，与我惠妻，惠吾嘉喜。</string>
		<key>GuaMing</key>
		<dict>
			<key>TianGan</key>
			<string>乾卦(乾为天)</string>
			<key>TianGanXiang</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>DiZhi</key>
			<string>未济卦(火水未济)</string>
			<key>DiZhiXiang</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
		</dict>
		<key>GuaXiang</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</array>
	</dict>
</array>
</plist>
